/*/
!/make_cv/
.DS_Store
*.pdf
*.docx
Tables_*
make_cv/Collaborators/collaborators.xlsx
make_cv/Web/*.html
make_cv/Web/*.css
!make_cv/Web/sub_*.css
!.gitignore
!Awards/*.xlsx
!Proposals\ \&\ Grants/*.xlsx
!Scholarship/*.xlsx
!Scholarship/scholarship.bib
!Service/*.xlsx
!Teaching/*.xlsx
make_cv/Backups/*

